<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_editor.css">
    <title>Document</title>

    <div class="navbar">
        <button>Text Writer</button>
        <div class="dropdown">
          <button class="dropbtn">Options</button>
          <div class="dropdown-content">
            <a href="#">Save Project</a>
            <a href="#">View Project</a>
            <a href="#">Publish Project</a>
          </div>
        </div>
      </div>

</head>
<body>
    <h1>test</h1>

    <div class="title-box">
        <input type="text" placeholder="Enter title" id="title-input"> <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="chapter-body">
        <textarea rows="10" cols="50" placeholder="Start writing your chapter here" id="chapter-input"></textarea>
      </div>
</body>
</html>
