<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/test_perfil.css">
    <title>Document</title>

    <br>
    <div class="profile-banner">
        <p class="banner-text">Tu perfil</p>
      </div>
</head>
<body>
    <br>
    <div class="profile-container">
        <div class="container1">
          <img src="../static/foto.png" alt="Foto de perfil" class="profile-picture">
          <h2 class="profile-name">Nombre del Usuario</h2>
          <p class="personality-description">Descripción de la personalidad</p>
        </div>
        <div class="container2">
            <div class="container2">
                <div class="stats">
                  <div class="icon">
                    <img src="../static/cantidad_publicaciones.png" alt="Icono 1" class="icon-image">
                    <p class="icon-text"><b>Cantidad de publicaciones: 10</b></p>
                  </div>
                  <div class="icon">
                    <img src="../static/numero_seguidores.png" alt="Icono 2" class="icon-image">
                    <p class="icon-text"><b>Número de seguidores: 100</b></p>
                  </div>
                  <div class="icon">
                    <img src="../static/recomendaciones.png" alt="Icono 3" class="icon-image">
                    <p class="icon-text"><b>Recomendaciones: 5</b></p>
                  </div>
                </div>
              </div>
        </div>
      </div>
<br>
      <div class="profile-banner">
        <p class="banner-test">Mis publicaciones creadas o guardadas</p>
      </div>
      <br>

      <div class="grid-container">
        <div class="card">
          <img src="../static/1.jpg" alt="Obra de arte">
          <h3>Título de la obra de arte</h3>
          <p>Descripción de la obra de arte</p>
          <p>Autor: Nombre del autor</p>
          <div class="buttons">
            <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
            <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
          </div>
        </div>
        <!-- Repite la estructura de la tarjeta para cada obra de arte -->

        <div class="card">
            <img src="../static/12.jpg" alt="Obra de arte">
            <br>
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>


          <div class="card">
            <img src="../static/3.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>

          <div class="card">
            <img src="../static/4.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>
        </div>>
    
</body>
</html>