<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/TEST.CSS">
    
    <title>Welcome to Platinum Sponsor</title>
<BR></BR>
    <nav class="navbar">
        <div style="position: relative;">
          <H1 style="font-size: 30px;">PLATINUM SPONSOR </H1>
        </div>
          <a href = "login/" class="navbar-search-button">
        
            Vamos, INICIA SESION O REGISTRATE
          </a>
        </div>
        
    </nav>

</head>
<body>
    <h1 style="text-align: center; color: aliceblue;">Descubre las nuevas obras de la semana 😎</h1>
    <br>
    <div class="grid-container">
        <div class="card">
          <img src="../static/1.jpg" alt="Obra de arte">
          <h3>Título de la obra de arte</h3>
          <p>Descripción de la obra de arte</p>
          <p>Autor: Nombre del autor</p>
          <div class="buttons">
            <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
            <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
          </div>
        </div>
        <!-- Repite la estructura de la tarjeta para cada obra de arte -->

        <div class="card">
            <img src="../static/12.jpg" alt="Obra de arte">
            <br>
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>


          <div class="card">
            <img src="../static/3.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>


          <div class="card">
            <img src="../static/4.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>


          <div class="card">
            <img src="../static/5.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>


          <div class="card">
            <img src="../static/6.jpg" alt="Obra de arte">
            <h3>Título de la obra de arte</h3>
            <p>Descripción de la obra de arte</p>
            <p>Autor: Nombre del autor</p>
            <div class="buttons">
              <a href="link_al_perfil_del_autor" class="profile-button">Vista de perfil del autor</a>
              <a href="link_a_la_publicacion_completa" class="full-post-button">Ver publicación completa</a>
            </div>
          </div>

      </div>



   


</body>
</html>