<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_perfil.css">
    <title>Document</title>
</head>
<body>
    <h1>Editar Perfil</h1>
    <form>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>

        <label for="bio">Biografía:</label>
        <textarea id="bio" name="bio" rows="4" cols="30"></textarea>

        <label for="profilepic">Foto de Perfil:</label>
        <input type="file" id="profilepic" name="profilepic">

        <input type="submit" value="Guardar Cambios">
    </form>
</body>
</html>






