<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PRUEBA GUADAR datos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>Hola mundo</h1>
        <form>
            <h2>prueba de get </h2>
            <input type = "text" name = "nombre">
            <button type = "submit">Enviar datos </button> 
        </form>
        <h2>test de lectura</h2>
        <p>{{nombre}}</P>
        <script src="" async defer></script>
    </body>
</html>